body{
    background-color: #2b2a21;
    color: #eaf0a8;
}

.colonne_droite{
    text-align: left;
}

.sidebardiv{
    width: 200px;
    height: 50vh;
    background-color: aliceblue;
    right: 0;
    position: fixed;
    color: #2b2a21;

    display: flex;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;

    border-radius: 5%;
    opacity: 82%;
    margin-right: 1%;
}

/*.sidebar{
    margin-left: 1075%;
}*/

/* faudra changer les couleurs parce qu'elles laissent a désirer */

.sidebar2{
    margin-left: -995%;
}       
